@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.content {
  height: 100%;
  min-height: 75.5vh;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
/* From Uiverse.io by Cornerstone-04 */
.box,
.box-bg {
  transition: 0.2s ease-in-out;
  position: relative;
  min-width: 100px;
  z-index: 1;
  /* display: inline-block; */
  overflow: hidden;
  padding: 9px 15px;
  text-align: center;
  /* margin: 0 5px; */
  background: transparent;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
}

.box:before,
.box:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;

  box-sizing: border-box;
}
.box:before {
  border-bottom: 2px solid transparent;
  border-left: 2px solid transparent;
  transform: translateX(100%);
}
.box:after {
  border-top: 2px solid transparent;
  border-right: 2px solid transparent;
  transform: translateX(-100%);
}

.box:hover:before,
.box:hover:after {
  border-color: #000;
  height: 100%;
  transform: translateX(0);
  transition:
    0.3s transform linear,
    0.3s height linear 0.3s;
}
.box-bg {
  border: 2px solid black;
}
.box-bg::after,
.box-bg::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  transform: skew(90deg) translate(-50%, -50%);
  position: absolute;
  inset: 50%;
  z-index: -1;
  transition: 0.5s all ease-in-out;
  background-color: black;
}
.box-bg::after {
  left: 25%;
}

.box-bg::before {
  top: -50%;
  left: -25%;
  transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}

.box-bg:hover::before {
  transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}

.box-bg:hover::after {
  transform: skew(45deg) translate(-50%, -50%);
}

.box-bg:hover {
  color: white;
}

.box-bg:active {
  filter: brightness(0.7);
  transform: scale(0.95);
}
