.card {
  background: #fff;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 20px;
  text-align: center;
  width: 330px;
  margin: 0 10px;
  margin-top: 30px;
  height: 300px;
  border-radius: 5px;
  overflow: hidden;
  text-align: start;
  position: relative;
}
.card .category {
  position: absolute;
  top: 10px;
  left: 10px;
  text-transform: uppercase;
  font-size: 0.6rem;
}

.card .title {
  text-transform: capitalize;
  font-weight: bold;
  margin: 25px 0;
}
.card .image {
  width: 100px;
  height: 100px;
}
